@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
    padding-top:2.5rem;
    background-color:black;
}
.container {
    padding:0.05rem;
}
header {
    display:flex;
    align-items:center;
    justify-content:space-between;
}
#title {
    font-family: 'Prata', serif;
    color:white;
    font-size:1.05em;
    padding-left:0;
}
#hamburger-menu {
    display:none;
    cursor:pointer;
}
ul {
    display:flex;
    justify-content:space-between;
}
li {
    list-style:none;
    display:inline;
}
.nav-li {
    margin-right:1.8rem;
}
.logos-li {
    display:flex;
    justify-content:space-evenly;
}
a {
    color:gray;
    font-size:1rem;
}
a:hover {
    color:gray;
}
#get-in-touch {
    color:black;
    background-color:rgb(236,220,74);
    border:none;
    font-family:Georgia, 'Times New Roman',Times, serif;
    height:3rem;
    width:9.3rem;
    align-content:flex-end;
}
.button {
    display:inline;
}
.nav-div {
    display:flex;
}
.mobile-nav-div {
    display:none;
}
.nav-bar {
    display:inline;
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
}
#main-title {
    font-family:'Parata', serif;
    font-size:3.7rem;
    color:white;
    padding-top:5rem;
}
.about {
    color:gray;
    font-family:'Inter', sans-serif;
    font-size:1.07rem;
    padding-top:0.5rem;
}
.about-2 {
    color:gray;
    font-family:'Inter', sans-serif;
    font-size:1.07rem;
}
.logos {
    padding-top:3.6rem;
    margin-left:0;
    padding-bottom:3.6rem;
    padding-left:0rem;
    flex-wrap:wrap-reverse;
}
section {
    background-color:#30343c;
    padding:0;
    margin:0;
}
.sub-heading {
    font-family:'Parata', serif;
    color:white;
    margin-top:1rem;
    font-size:2.5rem;
}
.footer {
    padding-top:1rem;
    padding-bottom:1rem;
}
.footer-container {
    display:flex;
    justify-content:space-between;
}
.working-for-me {
    padding-top:3rem;
    padding-bottom:4rem;
}
.social-media {
    margin-right:0.7rem;
}
.nav-li-mobile {
    display:block;
    color:white;
    list-style:none;
    text-align:center;
}
#name {
    font-family: 'Prata', serif;
    color:white;
    font-size:1.05em;
    padding-left:0;
    margin-bottom:0;
}
picture {
    overflow:hidden;
}
@media screen and (max-width:991px) {
    .button {
        display:none;
    }
    .nav-div {
        display:none;
    }
    #hamburger-menu {
        display:flex;
    }
    .logos-li {
        margin-right:4.7rem;
    }
}

